.button{
    padding: 13px 26px 13px 26px;
    border-radius: 18px;
    font-size: 22px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.dark{
    background-color: #292f36;
    box-shadow: 0px 10px 20px 0px rgba(192,150, blue, alpha);
}